:root {
    --bgColor: #eff3f4;
    --accentColor: #edeff0;
    --primaryColor: #90a6fa;
}
html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*, *::before, *::after
{
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.space-x
{
    padding-left: 20px;
    padding-right: 20px;
}
.viewport header
{
    background-color: var(--bgColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.viewport header .menu
{
    display: none;
}
header .header-left
{
    display: flex;
    align-items: center;
}
header h3
{
    margin: 0;
}
header .search
{
    position: relative;
}
header .search input[type="search"]
{
    width: 400px;
    height: 40px;
    border-radius: 22px;
    background-color: var(--accentColor);
    outline: none;
    border: none;
    padding: 10px;
    padding-left: 40px;
}
header .header-left > div
{
    margin-left: 20px;
}
header .search .search-icon
{
    position: absolute;
    left: 0;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
header .theme-toggle
{
    min-height: 40px;
    background-color: var(--accentColor);
    display: flex;
    align-items: center;
    border-radius: 22px;
    padding: 0px 10px;
    color: #d8d8d8;
}
header .theme-toggle .toggle-switch
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffa500;
    border: 10px solid #fff;
}
header .theme-toggle .icon-wrapper
{
    margin-left: 10px;
}
header .theme-toggle .icon-wrapper .dark-mode
{
    display: none;
}
header .notif
{
    background-color: var(--accentColor);
    border-radius: 50%;
    padding: 10px 12px;
    color: #d8d8d8;
}
header .profile
{
    display: flex;
    align-items: center;
}
header .profile .profile-pic
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header .profile .name
{
    font-weight: 700;
    margin-left: 10px;
}
.viewport main
{
    background-color: var(--bgColor);
    min-height: calc(100vh - 100px);
}

.viewport .sidenav
{
    /*background-color: rgba(20,20,20,0.3);*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #90a6fa;
}

.viewport .sidenav .inner-nav
{
    width: 250px;
    background-color: #fff;
    height: inherit;
}
.viewport main, .viewport header
{
    margin-left: 250px;
}
.inner-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.inner-nav .nav-profile
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.inner-nav .nav-profile .image
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.inner-nav .nav-profile .image img
{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.inner-nav .nav-profile .text
{
    margin-left: 10px;
    font-size: 14px;
}
.inner-nav .nav-profile .text p,
.inner-nav .nav-profile .text h3
{
    margin: 0;
}
.inner-nav .nav-profile .text p
{
    color: #d9d9d9;
    font-weight: 600;
}
.inner-nav ul
{
    margin: 0;
    list-style-type: none;
    background-color: #ffa500;
}
.inner-nav ul > li
{
    margin: 0;
}

@media screen and (max-width: 400px) 
{
    .viewport header
    {
        background-color: green;
    }
    .viewport header .menu
    {
        display: inline-block;
    }
}